[Desktop Entry]
Name=Breath2

X-KDE-PluginInfo-Name=Breath2
X-KDE-PluginInfo-Author=BogdanCovaciu
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC BY-SA
Name[en_GB]=Breath2
